               <div>
                    <h2>Compile Config List</h2>
                    <a href="{% url compile_config_add  meta.id %}">Add</a>
                    
                    <table>
                        <tr>
                            <td>编号</td>
                            <td>代码类型</td>
                            <td>编译命令</td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% for cc in compile_configs %}
                        <tr>
                            <td>{{ cc.id }}</td>
                            <td>{{ cc.get_code_type }}</td>
                            <td>{{ cc.config }}</td>
                            <td><a href="{% url compile_config_edit meta.id cc.id %}">编辑</a></td>
                            <td><a href="{% url compile_config_delete meta.id cc.id %}">删除</a></td>
                        </tr>
                    {% endfor %}
                    </table>
                    
               </div>