{% extends "base.html" %}
{% block title %}{{ meta.id }} - {{ meta.title }}{% endblock %}
{% block content %}

            <div>
                    <div>
                   <h1>Title: {{ meta.title }}</h1>
                        Judge Flow: {% for flow_str in meta.get_judge_flow %} {{ flow_str }} {% endfor %}
                    </div>
                    
                    <div>
                       <a href="{% url problem_add meta.id %}">Make A Problem</a>
                    </div>

               <div>
                    <h2>Descriptions</h2>
                    <a href="{% url description_add meta.id %}">Add</a>
                    
                    <table>
                        <tr>
                            <td>编号</td>
                            <td>标题</td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% for desc in descriptions %}
                        <tr>
                            <td>{{ desc.id }}</td>
                            <td><a href="{% url description_detail desc.id %}">{{ desc.title }}</a></td>
                            <td><a href="{% url description_edit meta.id desc.id %}">编辑</a></td>
                            <td><a href="{% url description_delete meta.id desc.id %}">删除</a></td>
                        </tr>
                    {% endfor %}
                    </table>
               </div>
               
               <div>
                    <h2>Input Output Data</h2>
                    <a href="{% url input_output_data_add meta.id %}">Add</a>
                    
                    <table>
                        <tr>
                            <td>编号</td>
                            <td>标题</td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% for data in io_datas %}
                        <tr>
                            <td>{{ data.id }}</td>
                            <td><a href="">{{ data.name }}</a></td>
                            <td><a href="">编辑</a></td>
                            <td><a href="">删除</a></td>
                        </tr>
                    {% endfor %}
                    </table>
               </div>
               
                {% for template_name in meta.get_display_config_list_template %}
                    {% include template_name %}
                {% endfor %}
            </div>

{% endblock %}

