{% extends "base.html" %}
            {% block title %}
                题目列表
            {% endblock %}

            {% block content %}
                <div>
                    <table cellSpacing="0" cellPadding="0" width="100%" border="1" class="a" bordercolor="#FFFFFF">
                        <tr class="in">
                            <td>编号</td>
                            <td>标题</td>
                            <td>通过率（通过／提交）</td>
                        </tr>
                    {% for p in probs %}
                        <tr align="center">
                            <td>{{ p.id }}</td>
                            <td align="left">{% if p.description %}<a href="{% url problem_detail p.id %}">{{ p.description.title }}</a>{% else %}题目没有描述{% endif %}</td>
                            <td>{{ p.get_ac_ratio }}%({{ p.submit }}/{{ p.accept }})</td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            {% endblock %}
