<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
        Remove this if you use the .htaccess -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Problem Config Edit</title>
        <meta name="description" content="" />
        <meta name="author" content="jingyong" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0" />
        <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    </head>
    <body>
        <div>
            <header>
                <h1>Problem Config Edit</h1>
            </header>
            <nav>
                <p>
                    <a href="/">Home</a>
                </p>
                <p>
                    <a href="/contact">Contact</a>
                </p>
            </nav>
            <div>
					<div>
						Judge Flow: {% for flow_str in problem.get_judge_flow %} {{ flow_str }} {% endfor %}
					</div>

               <div>
                    <h2>Descriptions</h2>
                    
                    <table>
                        <tr>
                            <td></td>
                            <td>编号</td>
                            <td>标题</td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% for desc in meta_descs %}
                        <tr>
                            <td><input type="radio" name="desc_id" value="{{ desc.id }}" checked="checked" /> </td>
                            <td>{{ desc.id }}</td>
                            <td><a href="">{{ desc.title }}</a></td>
                            <td><a href="">编辑</a></td>
                            <td><a href="">删除</a></td>
                        </tr>
                    {% endfor %}
                    </table>
               </div>
               
               <div>
                    <h2>Input Output Data</h2>
                    <a href="{% url input_output_data_add meta.id %}">Add</a>
                    
                    <table>
                        <tr>
                            <td>编号</td>
                            <td>标题</td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% for data in io_datas %}
                        <tr>
                            <td>{{ data.id }}</td>
                            <td><a href="">{{ data.name }}</a></td>
                            <td><a href="">编辑</a></td>
                            <td><a href="">删除</a></td>
                        </tr>
                    {% endfor %}
                    </table>
               </div>
               
				{% for template_name in meta.get_config_list_template %}
				    {% include template_name %}
				{% endfor %}
            </div>
            <footer>
                <p>
                    &copy; Copyright  by jingyong
                </p>
            </footer>
        </div>
    </body>
</html>
