<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>山东科技大学 在线测评系统</title>
        <base href=".">
        <link rel="stylesheet" type="text/css" href="./index_files/global.css">
        <link rel="shortcut icon" href="images/logo.ico">
    </head>
    <body>
        <table width="100%" border="0" class="banner" style="margin-bottom:30px;">
            <tbody>
                <tr>
                    <td><a href="./index_files/index.html">主页</a></td><td><a href="http://acm.hust.edu.cn:8080/judge/problem/toListProblem.action">题目</a></td><td><a href="http://acm.hust.edu.cn:8080/judge/problem/status.action">状态</a></td><td><a href="http://acm.hust.edu.cn:8080/judge/contest/toListContest.action">竞赛</a></td><td><a class="register" href="javascript:void(0)">注册</a></td><td><a class="login" href="javascript:void(0)">登录</a></td>
                </tr>
            </tbody>
        </table>
        <div id="title">
            山东科技大学 在线测评系统
        </div>
        <div style="width:900px;MARGIN-RIGHT:auto;MARGIN-LEFT:auto;">
            <p>
                欢迎使用山东科技大学 在线测评系统！
            </p>
            <br>
            <b>Change Log:</b>
            <div id="disqus_thread"></div>
        </div>
        <div style="text-align:center;margin-top:30px;clear:both;font-size:80%">
            <hr>
            <a href="mailto:Liyong_zhang@yeah.com">Contact</a> | <a href="https://github.com/SkyPitt/sdust_oj" target="_blank">Open Source Project</a>
            <br>
            Server Time: <span class="currentTime">2012-05-14 10:09:25</span>
        </div>
    </body>
</html>