<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/global.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/poj.css">
        <link rel="shortcut icon" href="images/logo.ico">
        {% block metas %}{% endblock %}
    </head>
    <body>
        <table>
            <tbody>
                <tr>
                    <td><a href="{% url index %}">主页</a></td>
                    <td><a href="{% url problem_list 1 %}">题目</a></td>
                    <td><a href="{% url status 1 %}">状态</a></td>
                    <td><a href="">竞赛</a></td>
                    <td><a class="register" href="{% url register %}">注册</a></td>
                    {% if request.user.is_authenticated %}
                    <td><a href="{% url user_info %}">{{ request.user.username }}</a></td>
                    <td><a class="logout" href="{% url logout %}?next={{ request.get_full_path }}">退出</a></td>
                    {% else %}
                    <td><a class="login" href="{% url login %}">登录</a></td>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <td><a href="{% url problem_index %}">管理</a></td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
        <div id="title">
            山东科技大学 在线测评系统
        </div>
        
        {% block content %}
        {% endblock %}
        <div style="text-align:center;margin-top:30px;clear:both;font-size:80%">
            <hr>
            <a href="mailto:Liyong_zhang@yeah.com">Contact</a> | <a href="https://github.com/SkyPitt/sdust_oj" target="_blank">Open Source Project</a>
            <br>
            服务器时间: <span class="currentTime">{% now "Y-m-d H:i:s" %}</span>
        </div>
    </body>
</html>